{{ form_row(form.title) }}
{{ form_label(form.ingredients) }}
<div class="">
    <a href="#" id="add_ingredient_link"><i class="glyphicon glyphicon-plus-sign"></i></a>
</div>
<div id="recipe_ingredients"  class="col-md-10" data-prototype="
    {% filter escape %}
        {{ include('Utils/ingredients_form.html.twig', { 'form': form.ingredients.vars.prototype }) }}
    {% endfilter %}">
    {% for ingredient in form.ingredients %}
        {{ include('Utils/ingredients_form.html.twig', { 'form': ingredient }) }}
    {% endfor %}
</div>
{{ form_row(form.category) }}
{{ form_row(form.duration) }}
{{ form_label(form.steps) }}
<div class="">
    <a href="#" id="add_step_link"><i class="glyphicon glyphicon-plus-sign"></i></a>
</div>
<div id="recipe_steps"  class="col-md-10" data-prototype="
    {% filter escape %}
        {{ include('Utils/steps_form.html.twig', { 'form': form.steps.vars.prototype }) }}
    {% endfilter %}">
    {% for step in form.steps %}
        {{ include('Utils/steps_form.html.twig', { 'form': step }) }}
    {% endfor %}
</div>
{{ form_row(form.isFinished) }}
{{ form_row(form.title) }}
{{ form_widget(form) }}
