{% trans_default_domain "app" %}

{{ form_start(form) }}
    {{ include('Forms/recipe.html.twig') }}

    <div class="form-group">
        <a href="{{ path('recipe_list') }}" class="btn btn-md btn-info col-md-offset-2 col-md-2">
            <i class="glyphicon glyphicon-arrow-left"></i> {{ 'recipe.action.back'|trans }}
        </a>
        <input type="submit" value="{{ 'recipe.action.submit.create'|trans }}" class="btn btn-success btn-md col-md-offset-1 col-md-2" />
        <input type="Reset" value="{{ 'recipe.action.reset'|trans }}" class="btn btn-warning btn-md col-md-offset-1 col-md-2" />
    </div>
{{ form_end(form) }}
