{% extends "layout.html.twig" %}

{% trans_default_domain "app" %}

{% block header %}
<div class="jumbotron">
  <div class="container">
    <h1>{{ 'app.title'|trans }}</h1>
    <p>
      {{ 'app.description'|trans }}
    </p>
    <p>
        <a class="btn btn-primary btn-lg" href="{{ path('recipe_list') }}" role="button">
            {{ 'button.recipe.browse'|trans }}
        </a>
    </p>
  </div>
</div>
{% endblock %}

{% block content %}  <!-- Example row of columns -->
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            {{ flash_message }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-4">
            <h2>{{ 'title.top.views'|trans }}</h2>
            <p>
                <ul>
                    {% for recipe in most_viewed_recipe %}
                        <li>
                            <a href="{{ path('recipe_view', {'id': recipe.slug}) }}">
                                {{ recipe.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </p>

            <p>
                <a class="btn btn-default" href="{{ path('recipe_list', {'sorter': 'views'}) }}" role="button">
                    {{ 'button.recipe.more'|trans }}
                </a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>{{ 'title.top.ratings'|trans }}</h2>
            <p>
                <ul>
                    {% for recipe in best_recipes %}
                        <li>
                            <a href="{{ path('recipe_view', {'id': recipe.slug}) }}">
                                {{ recipe.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </p>

            <p>
                <a class="btn btn-default" href="{{ path('recipe_list', {'sorter': 'ratings'}) }}"
                    role="button">
                    {{ 'button.recipe.more'|trans }}
                </a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>{{ 'title.top.writers'|trans }}</h2>
            <p>
                <ul>
                    {% for author in best_authors %}
                        <li>
                            <a href="{{ path('show_profile', {'id': author.id}) }}">
                                {{ author.username }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </p>
        </div>
    </div>
{% endblock %}
