{% trans_default_domain 'FOSUserBundle' %}

<h1>My profile <a class="btn btn-md btn-primary" href="{{ path('fos_user_profile_edit') }}">Edit</a></h1>

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p>Recipes: {{ user.recipes|length }}</p>
</div>
