{% extends "RecipeBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ recipe.title }}

{% endblock %}

{% block content %}
    <div id="recipe_infos">
        <div class="row">
            <h2 class="col-md-8">{{ recipe.title }} <small>({% if recipe.rating %}{{ recipe.rating }}{% else %}0{% endif %})</small></h2>
            <div class="col-md-3 col-md-offset-1 thumbnail">
                <div>
                    Category: {{ recipe.category }}
                </div>
                <div>
                    Duration: {{ recipe.duration|date('H:i') }}
                </div>
                <div>
                    The {% if recipe.date %}{{ recipe.date|date('Y-m-d') }}{% endif %}
                    By {% if recipe.author %}{{ recipe.author.username }}{% endif %}
                </div>
            </div>
        </div>
    </div>
    <div id="ingredients" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">You will need:</h3>
        </div>
        <div class="panel-body">
            {{ recipe.ingredients }}
        </div>
    </div>
    <div id="steps" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Steps</h3>
        </div>
        <ul class="list-group">
            {% for step in recipe.steps %}
                <li class="step list-group-item">
                    {{ step.text }}
                </li>
            {% endfor %}
        </ul>

    </div>

    <div class="row">
        <a href="{{ path('recipe_comment', {'id': recipe.slug}) }}" class="btn btn-info col-md-2 col-md-offset-3">Comment</a>
        <a href="{{ path('recipe_review', {'id': recipe.slug}) }}" class="btn btn-info col-md-2 col-md-offset-2">Rate/review</a>
    </div>

    <div class="row text-center">
        <div class="col-md-5 thumbnail" id="comments">
            <h3>Comments</h3>
            {% for comment in recipe.comments %}
                <div class="comment">
                    <p>
                        {{ comment.text }}
                    </p>
                    <p class="info">
                        By {{ comment.author }} the {% if comment.date %}{{ comment.date|date('Y-m-d') }}{% endif %}
                    </p>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-5 col-md-offset-2 thumbnail" id="reviews">
            <h3>Reviews</h3>
            {% for step in 1..10 %}
                <div class="review">
                    ze
                </div>
            {% endfor %}
        </div>
    </div>
    </ul>
{% endblock %}
