{% extends "RecipeBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ recipe.title }}

{% endblock %}

{% block content %}
    <div id="recipe_infos">
        <h2>{{ recipe.title }} <small>({{ recipe.rating }})</small></h2>
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-2">
                    {{ recipe.category }}
                </div>
                <div class="col-md-offset-1 col-md-2">
                    {{ recipe.duration|date('H:i') }}
                </div>
                <div class="col-md-offset-1 col-md-2">
                    {% if recipe.date %}{{ recipe.date|date('Y-m-d') }}{% endif %}
                </div>

                <div class="col-md-offset-1 col-md-2">
                    By {% if recipe.author %}{{ recipe.author.username }}{% endif %}
                </div>
            </div>
        </div>
    </div>
    <div id="ingredients">
        <h3>You will need:</h3>
        {{ recipe.ingredients }}
    </div>
    <div id="steps">
        {% for step in 1..10 %}
            <div class="step">
                Blalala
            </div>
        {% endfor %}

    </div>
    <div class="row">
        <div class="col-md-6" id="comments">
            <h3>Comments</h3>
            {% for step in 1..10 %}
                <div class="comment">
                    <p>
                        Thank you, saved my date!
                    </p>
                    <p class="info">
                        By AZERTYUOP the 12/12/1212
                    </p>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6" id="reviews">
            <h3>Reviews</h3>
            {% for step in 1..10 %}
                <div class="review">
                    ze
                </div>
            {% endfor %}
        </div>
    </div>
    </ul>
{% endblock %}
