{% trans_default_domain "app" %}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('recipe_home') }}">{{ 'app.title'|trans }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class=""><a href="{{ path('recipe_list') }}">{{ 'nav.recipe.list'|trans }}</a></li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class=""><a href="{{ path('recipe_new') }}">{{ 'nav.recipe.new'|trans }}</a></li>
                    <li class="">
                        <a href="{{ path('recipe_list_for_reviews') }}">
                            {{ 'nav.recipe.reviews'|trans }}
                        </a>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="dropdown">
                        <a type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{ app.user.username }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="{{ path('my_recipes') }}">{{ 'nav.user.recipes'|trans }}</a></li>
                            <li><a href="{{ path('my_reviews') }}">{{ 'nav.user.reviews'|trans }}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('fos_user_profile_show') }}">{{ 'nav.user.profile'|trans }}</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'nav.user.logout'|trans }}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a type="button" data-toggle="modal" data-target="#signin">{{ 'nav.user.signin'|trans }}</a></li>
                    <li><a type="button" data-toggle="modal" data-target="#signup">{{ 'nav.user.signup'|trans }}</a></li>
                {% endif %}
                <li class="dropdown">
                    <a type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <img src="{{ asset( 'img.locale'|trans ) }}" />
                        <span class="caret"></span>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="{{ path('recipe_home', {'_locale': 'fr'})}}"><img src="{{ asset('img/locale/fr.gif')}}" /></a></li>
                            <li><a href="{{ path('recipe_home', {'_locale': 'de'})}}"><img src="{{ asset('img/locale/de.gif')}}" /></a></li>
                            <li><a href="{{ path('recipe_home', {'_locale': 'en'})}}"><img src="{{ asset('img/locale/en.jpg')}}" /></a></li>
                        </ul>
                    </a>
                </li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</nav>
{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div class="modal fade" id="signin" role="dialog" aria-labelledby="SignIn">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'title.modal.signin'|trans }}</h4>
                </div>
                <div class="modal-body">
                    {#{{ render(controller('FOSUserBundle:Security:login')) }}#}
                </div>
            </div>
        </div>
    </div>
  <!-- Modal -->
    <div class="modal fade {% if modal_opened is defined and modal_opened == 'register' %}in{% endif %}"
       id="signup" tabindex="-1" role="dialog" aria-labelledby="SignUp">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">{{ 'title.modal.signup'|trans }}</h4>
                </div>
                <div class="modal-body">
                  {#{% if modal_opened is defined and modal_opened == 'register' %}#}
                    {#{% include('FOSUserBundle:Registration:register.html.twig') %}#}
                  {#{% else %}#}
                    {#{{ render(controller('FOSUserBundle:Registration:displayForm')) }}#}
                  {#{% endif %}#}
                </div>
            </div>
        </div>
    </div>
    {% if modal_opened is defined %}
        <div class="modal-backdrop fade in"></div>
    {% endif %}
{% endif %}
