{%- extends "layout.html.twig" -%}
{% trans_default_domain "app" %}

{% block content -%}
    <h1>{{ 'title.recipe.create'|trans }}</h1>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingExternal">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        {{ 'recipe.title.create.import'|trans }}
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingExternal">
                <div class="panel-body">
                    {{ render(controller('App\\Controller\\RecipeController:addImport')) }}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingScratch">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseScratch"
                        aria-expanded="false" aria-controls="collapseScratch">
                        {{ 'recipe.title.create.scratch'|trans }}
                    </a>
                </h4>
            </div>
            <div id="collapseScratch" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingScratch">
                <div class="panel-body">
                    {{ render(controller('App\\Controller\\RecipeController:addScratch')) }}
                </div>
            </div>
        </div>
    </div>
{%- endblock %}

{% block javascripts -%}
  {{ parent() }}
  <script>
    $(function(){
      var $collectionStepHolder = $('#recipe_steps');
      var $collectionIngredientHolder = $("#recipe_ingredients");

      $collectionStepHolder.data('index', $collectionStepHolder.find('> .form-group').length);
      $collectionIngredientHolder.data('index', $collectionIngredientHolder.find('> .form-group').length);

      $('#add_step_link').on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addStepForm($collectionStepHolder);
      });
      $('#add_ingredient_link').on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addStepForm($collectionIngredientHolder);
      });
      function addStepForm($collectionHolder) {
          var prototype = $collectionHolder.data('prototype');

          // get the new index
          var index = $collectionHolder.data('index');

          // Replace '__name__' in the prototype's HTML to
          // instead be a number based on how many items we have
          var newForm = prototype.replace(/__name__label__/g, index).replace(/__name__/g, index);

          // increase the index with one for the next item
          $collectionHolder.data('index', index + 1);

          $collectionHolder.append(newForm);
      }
    });

  </script>
{%- endblock %}
