{% extends "layout.html.twig" %}
{% trans_default_domain "app" %}

{% block content %}
    <h1>{{ 'title.recipe.list'|trans }}</h1>
    <div class="row">
        <div id="menu-sort" class="col-md-3 thumbnail">
            <div id="sorters">
                <h4>{{ 'title.recipe.sortby'|trans }}</h4>
                <ul>
                    <li>
                        <a id="date-recipe" href="#" class="sort" data-sorter="date">
                            {{ 'recipe.sorter.newest'|trans }}
                            <i class="glyphicon glyphicon-menu-down"></i>
                            <i class="glyphicon glyphicon-menu-up"></i>
                        </a>
                    </li>
                    <li>
                        <a id="views-recipe" href="#" class="sort" data-sorter="views">
                            {{ 'recipe.sorter.view'|trans }}
                            <i class="glyphicon glyphicon-menu-down"></i>
                            <i class="glyphicon glyphicon-menu-up"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="filters">
                <h4>{{ 'title.recipe.filterby'|trans }}</h4>
                <ul>
                    <li>
                        {{ 'recipe.filter.ingredient'|trans }}
                        <ul class="filter-list" data-filter="ingredients">
                            {% for item in ingredients %}
                                <li>
                                    <input type="checkbox" value="{{ item.name }}">{{ item.name }}<br>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        {{ 'recipe.filter.category'|trans }}
                        <ul class="filter-list" data-filter="categories">
                            {% for item in categories %}
                                <li>
                                    <input type="checkbox" value="{{ item.category }}">{{ item.category|trans }}<br>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-md-9">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <a id="title-recipe" class="sort" data-sorter="title" href="#">
                                {{ 'recipe.title.name'|trans }}
                                <i class="glyphicon glyphicon-menu-down"></i>
                                <i class="glyphicon glyphicon-menu-up"></i>
                            </a>
                        </th>
                        <th>
                            <a id="category-recipe"  class="sort" data-sorter="category" href="#">
                                {{ 'recipe.title.category'|trans }}
                                <i class="glyphicon glyphicon-menu-down"></i>
                                <i class="glyphicon glyphicon-menu-up"></i>
                            </a>
                        </th>
                        <th>
                            <a id="duration-recipe"  class="sort" data-sorter="duration" href="#">
                                {{ 'recipe.title.duration'|trans }}
                                <i class="glyphicon glyphicon-menu-down"></i>
                                <i class="glyphicon glyphicon-menu-up"></i>
                            </a>
                        </th>
                        <th>
                            <a id="rating-recipe"  class="sort" data-sorter="rating" href="#">
                                {{ 'recipe.title.rating'|trans }}
                                <i class="glyphicon glyphicon-menu-down"></i>
                                <i class="glyphicon glyphicon-menu-up"></i>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody id="body-list"
                	data-uri="{{ uri }}"
                	data-uri-show="{{ path('recipe_view', { 'id': 0 }) }}"
                	>
                    <tr id="layer-recipe-item">
                        <td class="recipe-title">
                            <a href=""></a>
                            <span class="languages">
                                <img src="{{ asset('img.locale'|trans) }}" class="hidden"/>
                            </span>
                        </td>
                        <td class="recipe-category"></td>
                        <td class="recipe-duration"></td>
                        <td class="recipe-rating"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
	<nav class="text-center">
	  <ul class="pagination collapse">
	    <li class="disabled">
	      <a href="{{ path(this_route) }}" aria-label="First" data-action="first">
	        <span aria-hidden="true">&laquo;&laquo;</span>
	      </a>
	    </li>
	    <li class="disabled">
	      <a href="#" aria-label="Previous" data-action="previous">
	      	<span aria-hidden="true">&laquo;</span>
      	  </a>
      	</li>
	    <li class="active"><a href="#" class="current" data-page="1">1</a></li>
	    <li>
	      <a href="#" aria-label="Next" data-page="2" data-action="next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	    <li>
	      <a href="#" aria-label="Last" data-action="last">
	        <span aria-hidden="true">&raquo;&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
    <ul>
        <li>
            <a href="{{ path('recipe_new') }}">{{ 'recipe.action.create'|trans }}</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/Recipe/list.js') }}"></script>
{% endblock %}
