{% extends "layout.html.twig" %}

{% block content %}
    <h1>Recipe list</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Duration</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody id="body-list" 
        	data-uri="{{ uri }}" 
        	data-uri-show="{{ path('recipe_view', { 'id': 0 }) }}">
            <tr id="layer-recipe-item">
                <td class="recipe-title"><a href=""></a></td>
                <td class="recipe-category"></td>
                <td class="recipe-duration"></td>
                <td class="recipe-rating"></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recipe_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/Recipe/list.js') }}" />
{% endblock %}