{% extends "layout.html.twig" %}

{% block content %}
    <h1>Recipe list</h1>
    <div class="row">
        <div id="menu-sort" class="col-md-3 thumbnail">
            <div id="sorters">
                <h4>Sort by:</h4>
                <ul>
                    <li>
                        <a id="date-recipe" href="#" class="sort" data-sorter="date">
                            Time of publication
                            <i class="glyphicon glyphicon-menu-down"></i>
                            <i class="glyphicon glyphicon-menu-up"></i>
                        </a>
                    </li>
                    <li>
                        <a id="views-recipe" href="#" class="sort" data-sorter="views">
                            Number of views
                            <i class="glyphicon glyphicon-menu-down"></i>
                            <i class="glyphicon glyphicon-menu-up"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="filters">
                <h4>Filter by:</h4>
                <ul>
                    <li>
                        Ingredients
                        <ul class="filter-list" data-filter="ingredients">
                            <li>
                                <input type="checkbox" value="Egg">Egg<br>
                            </li>
                            <li>
                                <input type="checkbox" value="Egg">Egg<br>
                            </li>
                            <li>
                                <input type="checkbox" value="Egg">Egg<br>
                            </li>
                            <li>
                                <input type="checkbox" value="Egg">Egg<br>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Category
                        <ul class="filter-list" data-filter="categories">
                            {% for item in categories %}
                                <li>
                                    <input type="checkbox" value="{{ item.category }}">{{ item.category }}<br>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-md-9">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <a id="title-recipe" class="sort" data-sorter="title" href="#">
                                Title
                                <i class="glyphicon glyphicon-menu-down"></i>
                                <i class="glyphicon glyphicon-menu-up"></i>
                            </a>
                        </th>
                        <th>
                            <a id="category-recipe"  class="sort" data-sorter="category" href="#">
                                Category
                                <i class="glyphicon glyphicon-menu-down"></i>
                                <i class="glyphicon glyphicon-menu-up"></i>
                            </a>
                        </th>
                        <th>
                            <a id="duration-recipe"  class="sort" data-sorter="duration" href="#">
                                Duration
                                <i class="glyphicon glyphicon-menu-down"></i>
                                <i class="glyphicon glyphicon-menu-up"></i>
                            </a>
                        </th>
                        <th>
                            <a id="rating-recipe"  class="sort" data-sorter="rating" href="#">
                                Rating
                                <i class="glyphicon glyphicon-menu-down"></i>
                                <i class="glyphicon glyphicon-menu-up"></i>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody id="body-list"
                	data-uri="{{ uri }}"
                	data-uri-show="{{ path('recipe_view', { 'id': 0 }) }}"
                	>
                    <tr id="layer-recipe-item">
                        <td class="recipe-title"><a href=""></a></td>
                        <td class="recipe-category"></td>
                        <td class="recipe-duration"></td>
                        <td class="recipe-rating"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
	<nav class="text-center">
	  <ul class="pagination collapse">
	    <li class="disabled">
	      <a href="{{ path(this_route) }}" aria-label="First" data-action="first">
	        <span aria-hidden="true">&laquo;&laquo;</span>
	      </a>
	    </li>
	    <li class="disabled">
	      <a href="#" aria-label="Previous" data-action="previous">
	      	<span aria-hidden="true">&laquo;</span>
      	  </a>
      	</li>
	    <li class="active"><a href="#" class="current" data-page="1">1</a></li>
	    <li>
	      <a href="#" aria-label="Next" data-page="2" data-action="next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	    <li>
	      <a href="#" aria-label="Last" data-action="last">
	        <span aria-hidden="true">&raquo;&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
    <ul>
        <li>
            <a href="{{ path('recipe_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/Recipe/list.js') }}" />
{% endblock %}
