{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} - {{ recipe.title }}

{% endblock %}

{% block content %}
    <div id="recipe_infos">
        <div class="row">
            <h2 class="col-md-6">
                {{ recipe.title }} <small>({% if recipe.rating %}{{ recipe.rating }}{% else %}0{% endif %})</small>
            </h2>
            {% if isEditable %}
                <div class="col-md-1 col-md-offset-1">
                    <a href="{{ path('recipe_edit', {'id': recipe.slug}) }}" class="btn btn-sm btn-info">Edit</a>
                </div>
            {% endif %}
            <div class="col-md-3 {% if isEditable %}col-md-offset-1{% else %}col-md-offset-3{% endif %} thumbnail">
                <div>
                    Category: {{ recipe.category }}
                </div>
                <div>
                    Duration: {{ recipe.duration|date('H:i') }}
                </div>
                <div>
                    The {% if recipe.date %}{{ recipe.date|date('Y-m-d') }}{% endif %}
                    By {% if recipe.author %}{{ recipe.author.username }}{% endif %}
                </div>
            </div>
        </div>
    </div>
    <div id="ingredients" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">You will need:</h3>
        </div>
        <div class="panel-body">
            {{ recipe.ingredients }}
        </div>
    </div>
    <div id="steps" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Steps</h3>
        </div>
        <ul class="list-group">
            {% for step in recipe.steps %}
                <li class="step list-group-item">
                    {{ step.text }}
                </li>
            {% endfor %}
        </ul>

    </div>



    <div class="row text-center">
        {% if recipe.isPublished %}
            <div class="col-md-5 thumbnail" id="comments">
                <h3>Comments</h3>
                {% for comment in recipe.comments %}
                    <div class="comment">
                        <p>
                            {{ comment.text }}
                        </p>
                        <p class="info">
                            By {{ comment.author }} the {% if comment.date %}{{ comment.date|date('Y-m-d') }}{% endif %}
                        </p>
                    </div>
                {% endfor %}
                <div class="row">
                    <a href="{{ path('recipe_comment', {'id': recipe.slug}) }}" class="btn btn-info col-md-4 col-md-offset-4">Comment</a>
                </div>
            </div>
        {% endif %}
        <div class="{% if recipe.isPublished %}col-md-5 col-md-offset-2{% else %}col-md-10 col-md-offset-1{% endif %} thumbnail" id="reviews">
            <h3>Reviews</h3>
            {% for review in recipe.reviews %}
                <div class="review">
                    <p class="info">
                        {{ review.rating }} by {{ review.author }} the {% if review.date %}{{ review.date|date('Y-m-d') }}{% endif %}
                    </p>
                    <p>
                        {{ review.text }}
                    </p>
                </div>
            {% endfor %}
            <div class="row">
                <a href="{{ path('recipe_review', {'id': recipe.slug}) }}" class="btn btn-info col-md-4 col-md-offset-4">Rate/review</a>
            </div>
        </div>
    </div>
    </ul>
{% endblock %}
