{% extends "layout.html.twig" %}
{% trans_default_domain "app" %}

{% block title %}{{ parent() }} - {{ recipe.title }}

{% endblock %}

{% block content %}
    <div id="recipe_infos">
        <div class="row">
            <h2 class="col-md-6">
                {{ recipe.title }} <small>({% if recipe.rating %}{{ recipe.rating }}{% else %}0{% endif %})</small>
            </h2>
            {% if isEditable %}
                <div class="col-md-1 col-md-offset-1">
                    <a href="{{ path('recipe_edit', {'id': recipe.slug}) }}" class="btn btn-sm btn-info">
                        {{ 'recipe.action.edit'|trans }}
                    </a>
                </div>
            {% endif %}
            <div class="col-md-3 {% if isEditable %}col-md-offset-1{% else %}col-md-offset-3{% endif %} thumbnail">
                <div>
                    {{ 'recipe.title.category'|trans }}: {{ recipe.category|trans }}
                </div>
                <div>
                    {{ 'recipe.title.duration'|trans }}: {{ recipe.duration|date('H\\hi') }}
                </div>
                <div>
                    {% if recipe.date %}
                        {% trans with {'%date%': recipe.date|date('Y-m-d')} %}
                            recipe.desc.date
                        {% endtrans %}
                    {% endif %}
                    {% if recipe.author %}
                        {% trans with {'%author%': recipe.author.username} %}
                            recipe.desc.author
                        {% endtrans %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div id="ingredients" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'recipe.desc.title.ingredients'|trans }}</h3>
        </div>
        <div class="panel-body">
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient.quantity }} {{ ingredient.quantityUnit|trans }} {{ ingredient.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="steps" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'recipe.desc.title.steps'|trans }}</h3>
        </div>
        <ul class="list-group">
            {% for step in recipe.steps %}
                <li class="step list-group-item">
                    {{ step.text }}
                </li>
            {% endfor %}
        </ul>

    </div>



    <div class="row text-center">
        {% if recipe.isPublished %}
            <div class="col-md-5 thumbnail" id="comments">
                <h3>{{ 'recipe.desc.title.comments'|trans }}</h3>
                {% for comment in recipe.comments %}
                    <div class="comment">
                        <p>
                            {{ comment.text }}
                        </p>
                        <p class="info">
                            {% if comment.date %}
                                {% trans with {'%date%': comment.date|date('Y-m-d')} %}
                                    recipe.desc.date
                                {% endtrans %}
                            {% endif %}
                            {% trans with {'%author%': comment.author} %}
                                recipe.desc.author
                            {% endtrans %}
                        </p>
                    </div>
                {% endfor %}
                <div class="row">
                    <a href="{{ path('recipe_comment', {'id': recipe.slug}) }}" class="btn btn-info col-md-4 col-md-offset-4">
                        {{ 'recipe.action.comment'|trans }}
                    </a>
                </div>
            </div>
        {% endif %}
        <div class="{% if recipe.isPublished %}col-md-5 col-md-offset-2{% else %}col-md-10 col-md-offset-1{% endif %} thumbnail" id="reviews">
            <h3>{{ 'recipe.desc.title.reviews'|trans }}</h3>
            {% for review in recipe.reviews %}
                <div class="review">
                    <p class="info">
                        {{ review.rating }}
                        {% if review.date %}
                            {% trans with {'%date%': review.date|date('Y-m-d')} %}
                                recipe.desc.date
                            {% endtrans %}
                        {% endif %}
                        {% trans with {'%author%': review.author} %}
                            recipe.desc.author
                        {% endtrans %}
                    </p>
                    <p>
                        {{ review.text }}
                    </p>
                </div>
            {% endfor %}
            <div class="row">
                <a href="{{ path('recipe_review', {'id': recipe.slug}) }}" class="btn btn-info col-md-4 col-md-offset-4">
                    {{ 'recipe.action.review'|trans }}
                </a>
            </div>
        </div>
    </div>
    </ul>
{% endblock %}
